commands:
  01_install_mongocryptd:
    command: "sudo yum install -y https://s3.amazonaws.com/mciuploads/mongocryptd/linux/mongocryptd-linux-x86_64-ubuntu1604-v2.2-stable.tgz"
  02_start_mongocryptd:
    command: "sudo mongocryptd --pidfilepath /var/run/mongocryptd.pid --logpath /var/log/mongocryptd.log --daemon"