packages:
  yum:
    gcc: []
    openssl-devel: []
    mongodb-database-tools: []

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/02_install_mongocryptd.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      set -xe
      
      # Install the mongocryptd binary
      cd /tmp
      wget https://fastdl.mongodb.org/tools/db/mongocryptd-linux-x86_64-v1.1.tgz
      tar -zxvf mongocryptd-linux-x86_64-v1.1.tgz
      cp mongocryptd /usr/local/bin
      
      # Configure mongocryptd to use the custom MongoDB URL
      echo "mongocryptdURI: mongodb://custom-url:27017" | tee /etc/mongocryptd.conf
      
container_commands:
  01_restart_mongod:
    command: "sudo service mongod restart"
    leader_only: true
  02_start_mongocryptd:
    command: "mongocryptd --config /etc/mongocryptd.conf"
    leader_only: true
