packages:
  yum:
    gcc: []
    openssl-devel: []
    mongodb-database-tools: []

files:
  "/etc/yum.repos.d/mongodb-org-4.4.repo":
    mode: "000644"
    owner: root
    group: root
    content: |
      [mongodb-org-4.4]
      name=MongoDB Repository
      baseurl=https://repo.mongodb.org/yum/amazon/2/mongodb-org/4.4/x86_64/
      gpgcheck=1
      enabled=1
      gpgkey=https://www.mongodb.org/static/pgp/server-4.4.asc

container_commands:
  01_start_mongocryptd:
    command: "mongocryptd"
    leader_only: true
